
.email_verify_otp{display:none;}



#email_otp_result{
	margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.mobile_verify_otp{display:none;}

#mobile_otp_result{
	margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}
